<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pokedex with flask</title>
	<link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
	<div class="container">
		<h1 class="banner">Pokedex with flask</h1>
		<div class="pokemons">
			<table>
				<caption>Pokemons</caption>
				<thead>
					<tr>
						<th>Pokemon ID</th>
						<th>Name</th>
						<th>Type</th>
						<th>Height</th>
						<th>Weight</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</body>
<script src="static/js/home.js"></script>
</html>